
.box{
    border: 1px solid black;
    width: 320px;
    margin: 10px;
}

.main{
    display: flex;
    justify-content: center;
    text-align: center;
}
.mobile-display{
    display: none;
}

.img-size{
    width: 100%;
}

.win{
    border: 10px solid green;
    color: green;
}
.lose{
    border: 10px solid red;
    color: red;
}
.tie {
    border: 10px solid black;
    color: black;
}
